.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.main {
  flex: 1; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(0,1,26,1) 50%, rgba(170,158,201,1) 100%);
  color: white;
  font-size: 16px;
}


.middle {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  background: rgb(0,1,26);
  background: linear-gradient(180deg, rgba(0,1,26,1) 20%, rgba(170,158,201,1) 100%);
  position: relative;
}


.p {
  line-height: 2;
}

.pdDiv {
  position: sticky;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  top: 150px;
  z-index: 1;
}

.purpDiamonds {
  position: absolute;
  width: 100%;
}


.bdDiv {
  position: sticky;
  top: 0px;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  
  
}

.blackDiamonds {
  position: absolute;
  width: 100%;
}


.aboutDiv {
  text-align: center; 
  line-height: 2;
  grid-row-start: 1;
  grid-column: 3 / 9;
  font-family: 'Eczar', serif;
  letter-spacing: .05em;
  font-size: 1.5em;
}

.decoImgDiv {
  grid-row: 2;
  grid-column: 4 / 8;
  align-self: center;
  margin: 10px 0;
}

.decoImg {
  width: 90%;
}

.decoDiv {
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row: 2;
  margin-right: 60px;
  align-self: center;

}

.scibubImgDiv {
  grid-row: 3;
  grid-column: 4 / 8;
  align-self: center;
  margin: 10px 0;
}

.scibubImg {
  width: 90%
}

.scibubDiv {
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row: 3;
  margin-right: 60px;
  align-self: center;
}
.campingImgDiv {
  grid-column: 4 / 8;
  grid-row: 4;
  align-self: center;
  margin: 10px 0;
}

.campingImg {
  width: 90%;
}

.campingDiv {
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row: 4;
  margin-right: 60px;
  align-self: center;
}

.wowImgDiv {
  grid-column: 4 / 8;
  grid-row: 5;
  align-self: center;
  margin: 10px 0;
 
}

.wowImg {
  width: 90%;
}

.wonderDiv {
  line-height: 2;
  grid-row: 5;
  grid-column-start: 8;
  grid-column-end: 11;
  margin-right: 60px;
  
}

.frogImgDiv {
  grid-column: 4 / 8;
  grid-row: 6;
  align-self: center;
  margin-bottom: 70px;
}

.frogImg {
  width: 90%;
}

.frogDiv {
  line-height: 2;
  grid-row: 6;
  grid-column-start: 8;
  grid-column-end: 11;
  margin-right: 60px;
  align-self: center;
  position: relative;
  bottom: 40px;
  
}

.linkDiv {
  width: fit-content;
}

.a {
  border-bottom: 3px solid white;
  transition: all 0.25s linear;
  position: relative;
}

.a:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgb(0,1,26);
  position: absolute;
  left: 0;
  bottom: -3px; /* this is to match where the border is */
  transform-origin: left; 
  transform: scale(0);
  transition: 0.25s linear;
/*   will-change: transform; */
}

.a:hover:before {
  transform: scale(1);
}

.svgDiv {
  grid-row: 7;
  grid-column: 4 / 8;
  align-self: center;
}

.svgImg {
  width: 15%;
  padding: 5px;
}

.profDiv {
  text-align: center;
  grid-column: 4 / 8;
  grid-row: 8;
  font-family: 'Eczar', serif;
  letter-spacing: .05em;
  font-size: 1.2em;
  margin-right: 20px;
}


.profpic {
  width: 200%;
  grid-column: 5 / 6;
  grid-row-start: 9;
  
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(170,158,201,1); 
  color: white;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  padding: 0 10px;
}

.copyright {
  position: absolute;
  margin-top: 62px;
  font-size: 12px;
}

@media (max-width: 769px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .aboutDiv {
    line-height: 1;
    margin-bottom: 30px;
  }

  .decoImgDiv {
    grid-row: 2;
    margin-bottom: 0px;
  }

  .decoImg {
    width: 100%;
  }

  .decoDiv {
    grid-column: 4/9;
    grid-row: 3;
    text-align: center;
  }

  .scibubImgDiv {
    grid-row: 4;
    margin-bottom: 0px;
  }

  .scibubImg {
    width: 100%;
  }

  .scibubDiv {
    grid-column: 4/9;
    grid-row: 5;
    text-align: center;
  }

  .campingImgDiv {
    grid-row: 6;
    margin-bottom: 0px;
  }

  .campingImg {
    width: 100%;
  }
  .campingDiv {
    grid-column: 4 / 9;
    grid-row: 7;
    text-align: center;
    
  }

  .wowImgDiv {
    grid-row: 8;
    margin-bottom: 0px;
  }

  .wowImg {
    width: 100%;
  }

  .wonderDiv {
    grid-column: 4/9;
    grid-row: 9;
    text-align: center;
  }

  .frogImgDiv{
    grid-row: 10;
    margin-bottom: 0px;
  }

  .frogImg {
    width: 100%;
  }

  .frogDiv {
    grid-column: 4/9;
    grid-row: 11;
    text-align: center;
    bottom: 0px;
  }

  .linkDiv {
    margin: 0 auto;
  }

  .svgDiv{
    grid-row: 12;
    margin-left: 30px
  }

  .profDiv {
    grid-row: 13;
    letter-spacing: 0px;
    font-size: 1em;
    margin-right: 0px;
  }

  .profpic {
    grid-row: 14;
  }

}

@media (max-width: 451px) {
  .main {
    font-size: 13px;
  }
  
  .pdDiv {
    visibility: hidden;
  }

  .bdDiv{
    visibility: hidden;
  }

  .aboutDiv {
    grid-column: 2 / 10;
    font-size: 1em;
    letter-spacing: .1em;
  }

  .decoImgDiv {
    grid-column: 2/10;
  }

 
  .decoDiv {
    grid-column: 2 / 10;
    margin-right: 0px;
    
  }

  .scibubImgDiv {
    grid-column: 2/10;
  }

 
  .scibubDiv {
    grid-column: 2 / 10;
    margin-right: 0px;
    
  }


  .campingImgDiv {
    grid-column: 2/10;
  }

 
  .campingDiv {
    grid-column: 2 / 10;
    margin-right: 0px;
    
  }

  .wowImgDiv {
    grid-column: 2 / 10;
  }

  

  .wonderDiv {
    grid-column: 2 / 10;
    margin-right: 0px;
  }

  .frogImgDiv{
    grid-column: 2 / 10;
  }

 
  .frogDiv {
    grid-column: 2 / 10;
    margin-right: 0px;
  }

  .svgDiv{
    grid-column: 2 / 10;
  }

  .profDiv {
    grid-column: 2 / 10;
  }

  .profpic {
    width: 100%;
    grid-column: 4 / 8;
  }

}