.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.main {
  flex: 1;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0,1,26);
  color: white;
  font-size: 20px;
}

.headerDiv {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.43fr 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: .80fr 1fr 1fr;
  justify-content: center;
  
 
}

.jenDiv {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  font-size: 1.5em;

}

.descDiv {
  grid-column: 5;
  grid-row: 1;
  align-self: center;
}

.h1 {
  display: inline-block;
  position: absolute;
  color: white;
  z-index: 3;
}

.h2 {
  display: inline-block;
  position: absolute;
  color: white;
  z-index: 3;
}

.sunDiv{
  grid-column: 4;
  grid-row: 2;
}

@keyframes sunBright {
  from {filter: brightness(.5);}
  to {filter: brightness(1);}
}

.sun {
  width: 15.25%;
  position: absolute;
  animation-name: sunBright;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  filter: brightness(.5);
  z-index: 3;
}

@keyframes forestBright {
  from {filter: brightness(.05);}
  to {filter: brightness(1);}
}


.forestImg {
  filter: brightness(.05);
  animation-name: forestBright;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 4;

}

.attribution {
  visibility: hidden;
}

.middle {
  padding-bottom: 100px;
  background: rgb(0,1,26);
  background: linear-gradient(180deg, rgba(0,1,26,1) 0%, rgba(170,158,201,1) 100%);
}

.purpDiamonds {
  position: absolute;
}

.blackDiamonds {
  position: absolute;
  margin-top: 150px;
}

.aboutDiv {
  text-align: center;
  margin: 50px auto;
  width: 50%;
  line-height: 2;
}

.campingDiv {
  margin: 50px auto 100px auto;
  width: 50%;
  line-height: 2;
}

.wonderDiv {
  margin: 50px auto 100px auto;
  width: 50%;
  text-align: right;
  line-height: 2;
}

.frogDiv {
  margin: 50px auto 100px auto;
  width: 50%;
  line-height: 2;
}

.profDiv {
  text-align: right;
}

.connectP {
  display: inline-block;
  width: 45%;
  margin-top: 70px;
  margin-right: 5px;
}

.profpic {
  position: relative;
  float: right;
  width: 15%;
  margin-right: 50px;
}
.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(170,158,201,1); 
  color: white;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
